@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--system-ui);
  overflow-x: hidden;
  
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 1fr;
  grid-template-areas: 'header header header' 'main main main';
}

.sidebar {
  grid-area: sidebar;
  transition: 0.5s;
}

.content, .info, .data, .card, .acordeon, .footer, .mapa, .mainer, .login, .register, .recover, .newcert, .perfil{
  grid-area: main;
  text-align: center;

}
.clicked{
  border-bottom: 3px solid grey;
  

}




nav > ul >li > a{
 
  width: 100%;
}
.lista{
  background-color: #E4F0FF;
}
.esconder{
  display: none;
}

.mostrar{
  display: block;
}
.accordion .flipY {
  transform: rotate3d(1, 0, 0, 180deg);
}

.accordion svg {
  transition: all 1s cubic-bezier(0, .5, 0, 1);
}

.callto{
  background-color: #0A1D43;
}
.footer{
  display: grid;
  grid-template-rows: 3fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.realFooter{
  background: linear-gradient(239.77deg, rgba(35, 174, 253, 0.7) -7.35%, rgba(0, 99, 198, 0.7) 67.87%, rgba(2, 104, 206, 0.7) 67.87%);
}

#map {
  width: 100%;
  height: 100%; }

  .icono{
    color: red;
    
  }
.heads{
  grid-area: header;
  background-color: #dc2626;
  border-bottom: 2px solid white;
}
.button-icon {
  transition: transform 0.3s ease;
}

.button-icon.rotated {
  transform: rotate(180deg);
}
.button-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.button-container.visible {
  max-height: 1000px; /* Set an appropriate value based on your content */
}

@media (max-width: 35em) {
      .mainav{
        position: fixed;
        flex-direction: column;
        gap: 2em;
        color: white;
        padding: min(30vh, 10rem) 2em;
        background: hsla(0, 96%, 46%, 0.856);
        backdrop-filter: blur(1rem);
        inset: 0 0 0 30%;
        flex-direction: column;
        grid-area: '';
        transition: transform 350ms ease-in ;
      }
      .hiding{
        transform: translateX(100%);
      }
      .visible{
        transform: translateX(0%);
      }
      @supports (backdrop-filter: blur(1rem)) {
        .mainav {
          background: hsla(0, 96%, 46%, 0.541);
          backdrop-filter: blur(1rem);
        }
      }
      .main-btn-toggle{
        position: absolute;
        top: 1em;
        right: 1em;
        width: 3em;
        height: 3em;
       
       background: url("../../public/assets/menu.svg");
       background-repeat:no-repeat;
       background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
      }	
}

